exclude: ^(.venv/)
default_install_hook_types: [pre-commit, pre-push, commit-msg]

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: no-commit-to-branch
        stages: [pre-commit, pre-push]
        args: [--branch, master, --branch, devtest-development]
      - id: requirements-txt-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        name: "ruff lint"
        args: [--fix]
      - id: ruff-format
        name: "ruff format"
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        stages: [pre-commit]
        args: [--remove-all-unused-imports, --in-place]
